Repository SOPT-all/36-COLLABORATION-ANDROID-CAMPUSPICK, pull requests merged in 2025-05, with the labels that each got.

#4 Feature/#2 color and font setting
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/theme/Color.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/theme/Theme.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/theme/Type.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainActivity.kt
Labels: sohee, feat

#5 Feature/#1 mvi setting
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/base/BaseViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/base/SideEffect.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/base/UiState.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/extension/ModifierExt.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/extension/MultipleEventsCutter.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/preview/DefaultPreview.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/scroll/ScrollStickyHeader.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/scroll/ScrollToTop.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/text/AnnotatedText.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeScreen.kt
Labels: seokchan, feat

#8 Feature/#7 icon, img setting
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeScreen.kt
  app/src/main/res/drawable/ic_alarm.xml
  app/src/main/res/drawable/ic_back_arrow.xml
  app/src/main/res/drawable/ic_check.xml
  app/src/main/res/drawable/ic_check_in_circle.xml
  app/src/main/res/drawable/ic_delete.xml
  app/src/main/res/drawable/ic_filter.xml
  app/src/main/res/drawable/ic_next_arrow.xml
  app/src/main/res/drawable/ic_post_comment.xml
  app/src/main/res/drawable/ic_post_shown.xml
  app/src/main/res/drawable/ic_search.xml
  app/src/main/res/drawable/ic_topbar_back_arrow.xml
  app/src/main/res/drawable/ic_under_arrow.xml
  app/src/main/res/drawable/img_home_category_club.png
  app/src/main/res/drawable/img_home_category_contest.png
  app/src/main/res/drawable/img_home_category_external_activity.png
  app/src/main/res/drawable/img_home_category_job_info.png
Labels: seokchan, feat

#9 Feature/#6 component setting
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/button/CampuspickBasicButton.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/button/CategoryButton.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/button/FilterChip.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/button/PopularChip.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/button/TagLabel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/textfield/CampuspickSearchBar.kt
Labels: nahyun, feat

#14 Feature/#12 search bottom sheet UI
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/lifecycle/LaunchedEffectWithLifecycle.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/BottomSheetSelect.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/FilterSection.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/FilterBottomSheet.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/component/SearchHeader.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/component/SearchKeyword.kt
  gradle/libs.versions.toml
Labels: seokchan, feat

#23 Feature/#16 검색 api 연결
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/textfield/CampuspickSearchBar.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/navigation/RouteModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/network/BaseResponse.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/viewmodel/ViewModelFactory.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/api/CampusPickService.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/repository/CampusPickRepositoryImpl.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/BottomSheetSelect.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/SearchType.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/repository/CampusPickRepository.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/navigation/AfterSearchNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainNavigator.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/component/MainNavHost.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/FilterBottomSheet.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/component/SearchHeader.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/navigation/SearchNavigaion.kt
Labels: feat

#25 Feature/#24 after search UI
  app/src/main/java/org/sopt/collaboration/campuspick/data/repository/CampusPickRepositoryImpl.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/BottomSheetSelect.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/Category.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/navigation/AfterSearchNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainNavigator.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/component/SearchHeader.kt
Labels: seokchan, feat

#27 Feature/#26 club local image
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/appbar/CampuspickAppBar.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/bottomsheet/FilterBottomSheet.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/cardview/ClubSearchCardSkeleton.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/extension/ModifierExt.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/image/LocalImageResIdFinder.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/model/BottomSheetSelect.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/model/FilterSection.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/navigation/RouteModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/navigation/AfterSearchNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/ClubScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/navigation/ClubNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/navigation/HomeNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainNavigator.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainTab.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/component/MainNavHost.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/others/navigation/OthersNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/navigation/SearchNavigaion.kt
  app/src/main/res/drawable/img_club_bethenose.png
  app/src/main/res/drawable/img_club_blank.png
  app/src/main/res/drawable/img_club_coquetier.png
  app/src/main/res/drawable/img_club_cresol.png
  app/src/main/res/drawable/img_club_foxstar.png
  app/src/main/res/drawable/img_club_ovalkorea.png
  app/src/main/res/drawable/img_club_playbox.png
  app/src/main/res/drawable/img_club_tremolo.png
Labels: seokchan, feat

#28 Feature/#21 club api
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/cardview/CampuspickCard.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/cardview/ClubSearchCard.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/viewmodel/ViewModelFactory.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/api/CampusPickService.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/repository/CampusPickRepositoryImpl.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/ClubRanking.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/ClubRecruitment.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/repository/CampusPickRepository.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/ClubScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/ClubViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/component/ClubRankingCard.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/component/ClubRecruitmentCard.kt
  app/src/main/res/drawable/ic_post_comment.xml
  app/src/main/res/drawable/ic_post_shown.xml
Labels: nahyun, feat

#31 Feature/#30 home api
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/appbar/CampuspickAppBar.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/bottomsheet/FilterBottomSheet.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/cardview/ClubSearchCardSkeleton.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/extension/ModifierExt.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/image/LocalImageResIdFinder.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/model/BottomSheetSelect.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/model/FilterSection.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/ui/navigation/RouteModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/core/viewmodel/ViewModelFactory.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/api/CampusPickService.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/repository/CampusPickRepositoryImpl.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/response/GetSearchClubsResponseDto.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/PopularActivity.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/repository/CampusPickRepository.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/AfterSearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/aftersearch/navigation/AfterSearchNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/ClubScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/club/navigation/ClubNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/navigation/HomeNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainNavigator.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainTab.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/component/MainNavHost.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/others/navigation/OthersNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/SearchViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/search/navigation/SearchNavigaion.kt
  app/src/main/res/drawable/img_club_bethenose.png
  app/src/main/res/drawable/img_club_blank.png
  app/src/main/res/drawable/img_club_coquetier.png
  app/src/main/res/drawable/img_club_cresol.png
  app/src/main/res/drawable/img_club_foxstar.png
  app/src/main/res/drawable/img_club_ovalkorea.png
  app/src/main/res/drawable/img_club_playbox.png
  app/src/main/res/drawable/img_club_tremolo.png
Labels: sohee, feat

#29 Feature/#15 home UI
  app/src/main/java/org/sopt/collaboration/campuspick/core/viewmodel/ViewModelFactory.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/api/CampusPickService.kt
  app/src/main/java/org/sopt/collaboration/campuspick/data/repository/CampusPickRepositoryImpl.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/HomeEdu.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/HomeIcon.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/PopularActivity.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/model/Popularity.kt
  app/src/main/java/org/sopt/collaboration/campuspick/domain/repository/CampusPickRepository.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeContract.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeScreen.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeViewModel.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/component/HomeHeader.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/navigation/HomeNavigation.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/main/MainNavigator.kt
  app/src/main/res/drawable/ic_activity.png
  app/src/main/res/drawable/ic_club.png
  app/src/main/res/drawable/ic_contest.png
  app/src/main/res/drawable/ic_job.png
  app/src/main/res/drawable/img_home_contest1.png
  app/src/main/res/drawable/img_home_contest2.png
  app/src/main/res/drawable/img_home_contest3.png
  app/src/main/res/drawable/img_home_edu1.png
  app/src/main/res/drawable/img_home_edu2.png
  app/src/main/res/drawable/img_home_edu3.png
  app/src/main/res/drawable/img_home_edu4.png
  app/src/main/res/drawable/img_home_event.png
Labels: sohee, feat

#35 Feature/#34 card background
  app/src/main/java/org/sopt/collaboration/campuspick/core/designsystem/component/cardview/CampuspickCard.kt
  app/src/main/java/org/sopt/collaboration/campuspick/feature/home/HomeScreen.kt
Labels: nahyun, feat

#37 Update README.md
  README.md
Labels: docs, seokchan
